body{
    font-family: cursive;
    background-size: cover;
    position:relative ;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    background-color: transparent;

}
header{
    background-color: rgb(129, 168, 168);
    padding: 1%;
    border-radius: 30px;
    
}
nav ul li{
    display: inline;
    margin-right: 20px;

}
nav ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
nav ul li a{
    color: aquamarine;
    text-decoration: none;
}
main{
    padding: 20px;
}
footer{
    background-color: cadetblue;
    text-align: center;
    padding: 10px;
}